{% extends 'base.html' %}

{% block head %}
<title>{{ filename }} - 単語帳</title>
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="content">
    <header class="page-header wrapper">
        <h1><a href="{{ url_for('index') }}">単語でGO！</a></h1>

        <nav aria-label="パンくずリスト">
            <ul style="list-style: none; display: flex; gap: 0.5em;">
            <li><a href="{{ url_for('index') }}">ホーム</a></li>
            <li>›</li>
            <li>{{ filename }}</li>
            </ul>
        </nav>
    </header>

    <div style="display: flex; justify-content: space-between;">
      <h2>{{ filename }} の単語帳</h2>
      <div style="display: flex;  height: 50px; margin-top: 17px; ">
        <select name="sort" >
          <option value="old_sort">古い順</option>
          <option value="new_sort">新しい順</option>
          <option value="fifth_sort">５０音順</option>
          <option value="diff_sort">難しい順</option>
          <option value="random_sort">ランダム順</option>
          <option value="green_sort">緑チェックのみ</option>
          <option value="yellow_sort">黄チェックのみ</option>
          <option value="red_sort">赤チェックのみ</option>
        </select>
        <a href="{{ url_for('index')}}" style="font-size: 1.5rem; margin-top: 5px; margin-left: 25px;">設定</a>
      </div>
    </div>

    <div id="loading-message" style="display: none;">単語帳を読み込み中...</div>
    <div id="error-message" style="color: red; display: none;">データの読み込み中にエラーが発生しました。</div>

    <h3>新しい単語を追加</h3>
    <form id="add-word-form">
        <label for="word">単語:</label>
        <input type="text" id="word" name="word" required>
        <label for="meaning">意味:</label>
        <input type="text" id="meaning" name="meaning" required>
        <button type="submit">追加</button>
    </form>
    <p id="add-word-message" style="color: green; display: none;"></p>
    <p id="add-word-error" style="color: red; display: none;"></p>

    <table id="vocab-table">
        <thead>
            <tr>
                <th style="width: 20%;">単語</th>
                <th style="width: 40%;">意味</th>
                <th style="width: 20%;">チェック</th>
                <th style="width: 10%;">削除</th>
                <th style="width: 10%;">リトライ</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
    <p id="no-words-message" style="display: none;">この単語帳にはまだ単語がありません。</p>



</div>
{% endblock %}